
/* Main */

main{
  background: #e8ddfa;
}
.main-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
 }
.product-card{ 
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
}
.product-image-wrapper{
  position: relative;
}
.product-image{
  display: block;
  width: 100%;
  transition: opacity 0.3s ease;
 }
 .product-image.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.action-btn.icon-heart {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
}
 .icon-heart_full {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.action-btn.icon-heart.active .icon-heart_full {
  opacity: 1;
}
.product-image-wrapper:hover .product-image.hover {
  opacity: 1;
}
.product-image-wrapper:hover .product-image.default {
  opacity: 0;
}
.product-info {
  padding: 8px;
 }
.product-title {
  font-weight: 500;
  display: block;
  transition: transform 0.2s ease;

 }
 .product-title:hover{
  transform: scale(1.01);
 }
.product-price {
  text-align: right;
  font-weight: 600;
  margin-bottom: 8px;
 }
.product-actions { 
  display: flex;
  justify-content: space-around;
}
.action-btn {
  color: #7e57c2;
  transition: transform 0.1s ease;
  cursor: pointer;
  transition: transform 0.2s ease;
}
 .action-btn:hover{
  transform: scale(0.9);
 }

