
main{
  background: #e8ddfa;
  height: 100%;
}
.main-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: clamp(24px, 2dvw, 32px);
 }
.product-card{ 
  display: flex;
  flex-direction: column;
  background: #e8ddfa;
  box-shadow: 0 0 0 2px #ccc;
  position: relative;
}

.product-image-wrapper{
  position: relative;
}
.product-image{
  width: 100%;
  transition: opacity 0.3s ease;
 }
 .product-image.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.product-image-wrapper:hover .product-image.hover {
  opacity: 1;
}
.product-image-wrapper:hover .product-image.default {
  opacity: 0;
}
.action-btn{
  font-size: 24px;
}
.action-btn.icon-heart {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
}
 .icon-heart_full {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.action-btn.icon-compare.active{
color: lime;
}
.action-btn.icon-heart.active .icon-heart_full {
  opacity: 1;
}
.product-info {
  padding: 0 8px 8px 8px;
 }
.product-price {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
 }
.product-actions { 
  display: flex;
  justify-content: space-around; 
}
.action-btn {
  color: #7e57c2;
  cursor: pointer;
}
 .action-btn:hover{
  transform: translateY(1px);
 }
.product-description {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  display: none;
  padding:0 8px 8px 8px;
  background: #e8ddfa;
  box-shadow:
   -2px 0 0 #ccc,
    2px 0 0 #ccc,
    0 2px 0 #ccc;
}
.product-card.hidden{
  display: none;
}
.add-to-cart{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 8px;
  font-size: 1.1rem;
  background: #e8ddfa;
}
.add-to-cart.active{
  display: flex;
}
.add-to-cart-form{
  display: flex;
  width: 100%;
  padding: 8px 0;
  gap: 8px;
  font-size: 1.1rem;
}
.quantity-wrapper{
  display: flex;
  flex-direction: column;
  color: #7e57c2;
}
#quantity{
  width: 67%;
  color: #7e57c2;
  text-align: right;
}

.cart-button{
  background: gold;
  border-radius: 16px;
  width: 100%;
  color: #7e57c2;
  padding: 8px;
  font-size: 1.3rem;
}
.color-container{
  border: 2px solid #ccc;
  padding: 8px;
  display: flex;
  gap: 0.5rem;
  }
.color-img{
  cursor: pointer;
  width: 100%;
  padding: 4px;
  margin: -4px;
  }
.color-img.active{
  border: 2px solid #ccc;
}
.main-color h3{
  font-size: 1.1rem;
  color: #7e57c2;
}
.color-img-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
  gap: 8px;
  padding-top: 28px;
}
.main-color-img{
  width: 100%;
  margin-top: 8px;
  aspect-ratio: 1 / 1.55;
  cursor: pointer;
}
.close-cart{
  position: absolute;
  top: 8px;
  right: 8px;
  color: #7e57c2;
  padding: 8px;
  margin: -8px;
}

@media (min-width: 1024px) {
  .main-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .product-card:hover .product-description {
  display: block !important;
  z-index: 3;
  }
  .product-card:hover{
  box-shadow:
   -2px 0 0 #ccc,
    2px 0 0 #ccc,
    0 -2px 0 #ccc;
  }
  }
  @media (hover: hover) and (pointer: fine) {
  .product-info:hover .product-description {
    display: block;
    z-index: 3;
  }
}
