
main{
  background: #e8ddfa;
  height: 100%;
}
.main-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: clamp(24px, 2dvw, 32px);
 }
.product-card{ 
  display: flex;
  flex-direction: column;
  background: #e8ddfa;
  box-shadow: 0 0 0 2px #ccc;
}

.product-image-wrapper{
  position: relative;
}
.product-image{
  width: 100%;
  transition: opacity 0.3s ease;
 }
 .product-image.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.product-image-wrapper:hover .product-image.hover {
  opacity: 1;
}
.product-image-wrapper:hover .product-image.default {
  opacity: 0;
}
.action-btn{
  font-size: 24px;
}
.action-btn.icon-heart {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
}
 .icon-heart_full {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.action-btn.icon-compare.active{
color: lime;
}
.action-btn.icon-heart.active .icon-heart_full {
  opacity: 1;
}
.product-info {
  padding: 8px;
  position: relative;
 }
.product-price {
  text-align: right;
  font-weight: 600;
  margin-bottom: 8px;
 }
.product-actions { 
  display: flex;
  justify-content: space-around;
}
.action-btn {
  color: #7e57c2;
  cursor: pointer;
}
 .action-btn:hover{
  transform: translateY(1px);
 }
.product-description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(200%);
  padding: 8px;
  background: #e8ddfa;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  box-shadow:
   -2px 0 0 #ccc,
    2px 0 0 #ccc,
    0 2px 0 #ccc;
}
.product-info:hover .product-description {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}
.product-card:hover{
  box-shadow:
   -2px 0 0 #ccc,
    2px 0 0 #ccc,
    0 -2px 0 #ccc;
}
.product-card.hidden{
  display: none;
}

@media (min-width: 1024px) {
  .main-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  }