/* Main */
main{
  background: #e8ddfa;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
}

.product-card img{
  filter: brightness(80%);
  transition: filter 0.3s ease;
  cursor: pointer;
  z-index: 1;
  width: 100%;
}
.remove-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  cursor: pointer;
  padding: 12px;
  margin: -12px;
}
.remove-btn:hover{
  color: white;
}
.product-card img:hover{
  filter: brightness(100%);
}
.product-card div{
  padding: 8px;
}
.product-card h3{
  cursor: pointer;
  transition: transform 0.2s ease;
}
.product-card p {
  text-align: right;
  font-weight: 700;
  cursor: default;
}




